/* fonts */
@font-face {
    font-family: 'Crete Round';
    src: url('resources/fonts/Crete_Round/CreteRound-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Amatic SC';
    src: url('resources/fonts/Amatic_SC/AmaticSC-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Anton';
    src: url('resources/fonts/Anton/Anton-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Tangerine';
    src: url('resources/fonts/Tangerine/Tangerine-Regular.ttf'); /* IE9 Compat Modes */
}

.text-title {
    font-family: 'Amatic SC', cursive;
}

.text-emphasize {
    font-family: 'Anton', sans-serif;
    color: #d88500;
}

.text-cursive {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    color: #599bd9;
}

/* general */
body {
    overflow: hidden;
    font-family: 'Crete Round', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    height: 80vh;
}

.section {
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.skills,
.awards,
.projects,
.illustrations {
    width: 100%;
}

.section.active {
    opacity: 1;
    pointer-events: auto;
}

/* loading overlay */
.loading-widget-container {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.loading-widget {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-top: 4px solid rgb(226, 142, 63);
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
}

/* intro section */
.intro {
    transform: translateY(20%);
}

.logo-container {
    margin-right: 33.33%;
}

.logo-container img {
    width: 100%;
}

.header-text {
    margin-bottom: 0px;
    font-size: 50px;
    position: relative;
}

.intro {
    text-align: center;
}

.intro-span {
    left: 0px;
    font-size: 20px;
}

.intro-text {
    position: relative;
}

/* arrow styles */
.arrow-widget {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 50%;
    margin-left: -25px;
    top: -20px;
    background-color: transparent;
    opacity: 0;
}

.arrow-widget.active {
    opacity: 1;
}

.arrow-up-container {
    top: -50px;
    animation: move-up 5s infinite ease-in-out;
}

.arrow-down-container {
    top: 80vh;
    animation: move-down 5s infinite ease-in-out;
}

@keyframes move-up {
    0% {
        top: -50px;
    }

    2% {
        top: -55px;
    }

    4% {
        top: -50px;
    }

    6% {
        top: -55px;
    }

    8% {
        top: -50px;
    }
}

@keyframes move-down {
    0% {
        top: 80vh;
    }

    2% {
        top: 80.5vh;
    }

    4% {
        top: 80vh;
    }

    6% {
        top: 80.5vh;
    }

    8% {
        top: 80vh;
    }
}

.arrow {
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #77a8d8;
    border-width: 10px;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    position: relative;
}

.arrow-down {
    top: 70%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.arrow-up {
    top: 30%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
}

/* banner styles */
.banner {
    text-align: center;
    height: 50px;
    width: 300px;
    background-color: rgb(25, 113, 196);
    color: #fff;
    /* margin: 0px auto; */
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-54%);
}

.banner-text {
    color: #a5d3ff;
    font-size: 30px;
    line-height: 50px;
    text-shadow: 0px 3px #155894;
}

.fold-1 {
    position: absolute;
    top: 50px;
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: rgb(4, 53, 99);
    border-width: 10px;
}

.fold-2 {
    position: absolute;
    height: 50px;
    width: 15px;
    background-color: rgb(21, 89, 148);
}

.fold-1.left {
    border-left: 10px solid rgb(21, 89, 148);
    border-bottom: 10px solid rgb(21, 89, 148);
}

.fold-1.right {
    right: 0px;
    border-right: 10px solid rgb(21, 89, 148);
    border-bottom: 10px solid rgb(21, 89, 148);
}

.fold-2.left {
    top: 20px;
    left: -15px;
}

.fold-2.right {
    top: 20px;
    right: -15px;
}

/* skill styles */
.skill-item-container {
    margin: 5px 0;
    position: relative;
    opacity: 0;
}

.skill-item-label{
    font-size: 20px;
    line-height: 45px;
}

.skill-star-container  {
    font-size: 30px;
    color: rgb(241, 227, 31);
}

.skill-star-container i.fa-star,
.skill-star-container i.fa-star-o {
    margin-right: 5px;
    opacity: 0;
    position: relative;
}

/* illustration styles */ 
.illustration-list-container:hover .illustration-item {
    transform: scale(1.2, 1.2);
    opacity: 1;
}

.illustration-view-container {
    height: 65vh;
}

.illustration-img-container {
    height: 80%;
}

.illustration-img-container img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    padding: 70px;
}

.illustration-item {
    width: 90px;
    height: 90px;
    z-index: 1;
    padding: 5px;
    border-top: 1px solid transparent;
    opacity: 0.4;
    cursor: pointer;
    transition: all .1s ease-in-out;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

@media only screen and (max-width: 1537px) {
    .illustration-item {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
}

.illustration-item.active {
    transform: scale(1.6, 1.6);
    opacity: 1;
}

.illustration-item:hover {
    z-index: 2;
    transform: scale(1.8, 1.8) !important;
}

.illustration-item:hover img {
    background-color: #fff;
    box-shadow: 0px 0px 10px #d0d0d0;
    padding: 5px;
}

.illustration-details {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.illustration-item .arrow {
    top: -15px;
    transition: 0.2s;
    height: 0;
    width: 0;
    border: 6px solid transparent;
}

.illustration-item:hover .arrow {
    border: 6px solid #ffb546;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
}

.illustration-item img {
    max-width: 100%;
    max-height: 100%;
}

/* awards */
.award-item {
    position: relative;
    opacity: 0;
}


/* footer */
.footer {
    color: #a7a7a7;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
}

