@import "../../Variables.scss";

.skills {
    position: relative;
    max-height: 1000px;
    margin-top: 200px;
    padding-top: 200px;
    padding-bottom: 400px;
    text-align: center;
    z-index: -2;
    @media (min-width: 961px) {
        text-align: left;
    }
    @include large {
        text-align: center;
    }
    // &::before,
    // &::after {
    //     content: '';
    //     position: absolute;
    //     bottom: -100px;
    //     height: 1000px;
    //     width: 100%;
    //     left: 0;
    //     @include transition(1s ease-in-out);
    // }

    // &::before {
    //     background-color: $primary;
    //     clip-path: polygon(0 78%, 100% 87%, 100% 100%, 0% 100%);
    //     clip-path: ellipse(50% 27% at 5% 104%);
    // }

    // &::after {
    //     background-color: $secondary-dark;
    //     clip-path: polygon(0 85%, 100% 75%, 100% 100%, 0% 100%);
    //     clip-path: ellipse(79% 25% at 62% 104%);
    // }
    .egg {
        position: absolute;
        bottom: -100px;
        height: 1000px;
        width: 100%;
        left: 0;
        pointer-events: none;
        @include transition(0.5s ease-in-out);
        &.egg-yellow {
            background-color: $primary;
            // clip-path: ellipse(50% 27% at 5% 104%);
            clip-path: ellipse(50% 27% at 5% 104%);
        }
        &.egg-purple {
            background-color: $secondary-dark;
            // clip-path: ellipse(89% 55% at 62% 104%);
            clip-path: ellipse(79% 25% at 62% 104%);
        }
    }
    &.inactive {
        .egg.egg-yellow {
            // clip-path: ellipse(50% 27% at 5% 104%);
            clip-path: ellipse(242% 103% at 5% 104%)
        }
        .egg.egg-purple {
            // clip-path: ellipse(79% 25% at 62% 104%);
            clip-path: ellipse(109% 85% at 62% 104%);
        }
    }

    &.unfocused {
        &::before,
        &::after {
            transform: skewY(0deg);
        }
    }

    .html {
        position: absolute;
        top: 0px;
        left: -70px;
        z-index: -1;
    }

    .braces {
        position: absolute;
        bottom: 120px;
        right: -40px;
        z-index: -1;
    }

}