@import "../../Variables.scss";

.skills {
    position: relative;
    max-height: 1000px;
    margin-top: 200px;
    padding-top: 200px;
    padding-bottom: 400px;
    text-align: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: -100px;
        height: 1000px;
        width: 100%;
        left: 0;
        @include transition(1s ease-in-out);
    }

    &::before {
        background-color: $primary;
        clip-path: polygon(0 78%, 100% 87%, 100% 100%, 0% 100%);
    }

    &::after {
        background-color: $secondary-dark;
        clip-path: polygon(0 85%, 100% 75%, 100% 100%, 0% 100%);
    }

    &.unfocused {
        &::before,
        &::after {
            transform: skewY(0deg);
        }
    }

    .html {
        position: absolute;
        top: 0px;
        left: -70px;
        z-index: -1;
    }

    .braces {
        position: absolute;
        bottom: 120px;
        right: -40px;
        z-index: -1;
    }

}