@import "../../Variables.scss";

.illustrations {
    position: relative;
    height: auto;
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: $secondary-dark;
    text-align: center;
    .illustrations-content {
        @include transition(0.5s ease-in-out);
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: -102px;
        width: 100%;
        height: 200px;
        z-index: -1;
        @include transition(1s ease-in-out);
    }

    &::before {
        left: -500px;
        background-color: $primary;
        transform: skewY(-3deg);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -102px;
        width: 100%;
        height: 200px;
        left: 0;
        background-color: $secondary-dark;
        transform: skewY(3deg);
    }

    &.unfocused {
        &::before,
        &::after {
            transform: skewY(0deg);
        }
    }
}

.pencil-left {
    g {
        path {
            stroke: #884086;
            stroke-width: 10px;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }
    position: absolute;
    top: 40%;
    left: -40px;
    transform: rotate(10deg);
}

.pencil-right {
    g {
        path {
            stroke: #884086;
            stroke-width: 10px;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
    }
    position: absolute;
    bottom: -130px;
    right: -80px;
    transform: rotate(135deg);
}

.ruler {
    position: absolute;
    top: -240px;
    right: -500px;
}