@import "../../Variables.scss";

.about {
    position: relative;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $secondary-dark;
    color: $teal;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    
    .about-content {
        padding: 20px;
        p {
            margin: 40px 0;
        }
    }

    
    // &::before,
    // &::after {
    //     content: '';
    //     position: absolute;
    //     bottom: -102px;
    //     width: 100%;
    //     height: 1000px;
    //     left: 0;
    //     z-index: -1;
    //     @include transition(1s ease-in-out);
    // }

    // &::before {
    //     background-color: $primary;
    //     // clip-path: polygon(0 82%, 100% 75%, 100% 99%, 0 86%);
    //     clip-path: ellipse(50% 27% at 91% 72%);
        
    // }

    // &::after {
    //     background-color: $secondary-dark;
    //     // clip-path: polygon(0 82%, 100% 63%, 100% 90%, 0 98%);
    //     clip-path: ellipse(79% 25% at 37% 75%);
    // }

    
    .egg {
        position: absolute;
        bottom: -600px;
        width: 100%;
        height: 1000px;
        left: 0;
        z-index: -1;
        pointer-events: none;
        @include transition(0.5s ease-in-out);
        &.egg-yellow {
            background-color: $primary;
            clip-path: ellipse(207% 172% at 91% 29%);
        }
        &.egg-purple {
            background-color: $secondary-dark;
            clip-path: ellipse(167% 72% at 31% 28%);
        }
    }
    
    &.inactive {
        .egg.egg-yellow {
            clip-path: ellipse(50% 27% at 98% 29%);
        }
        .egg.egg-purple {
            clip-path: ellipse(79% 25% at 31% 28%);
        }
    }


    .about-container {
        display: flex;
        justify-content: space-between;
        > div {
            width: 45%;
        }
        @include mdAbout {
            flex-direction: column;
            > div {
                width: 100%;
            }
        }
        .about-item {
            header {
                height: 40px;
                border-radius: 20px;
                background-color: $secondary-light;
                padding: 0px 20px;
                font-size: 20px;
                line-height: 2.1;
                font-weight: medium;
                letter-spacing: 5px;
                box-shadow: 0 5px 5px #0000001f;
                color: $primary;
                font-family: 'Montserrat', sans-serif;
                @include large {
                    font-size: 16px;
                    line-height: 2.5;
                }
            }
            .about-item-content {
                padding: 30px 20px;
                .experience-item {
                    position: relative;
                    padding: 15px;
                    padding-left: 50px;
                    > h1 {
                        font-family: 'Montserrat-SemiBold', sans-serif;
                        font-size: 16px;
                        color: $primary;
                    }
                    > h2 {
                        color: $primary;
                        > * {
                            display: inline-block;
                        }
                        span {
                            &:nth-child(2) {
                                vertical-align: super;
                            }
                        }
                    }
                    .position {
                        display: block;
                        margin-top: 10px;
                        font-style: italic;
                    }
                    .dates {
                        display: block;
                    }
                    .tools-header {
                        display: block;
                        margin-top: 10px;
                    }
                    ul {
                        list-style-type: disc;
                        padding-left: 30px;
                    }
                    &:not(:last-child) {
                        &::before {
                            content: '';
                            position: absolute;
                            width: 0px;
                            height: 100%;
                            left: 19px;
                            top: 30px;
                            border-left: 3px dashed $teal;
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 15px;
                        left: 9px;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        background-color: #7BBAEB;
                        border: 4px solid #3A7BAC;
                    }
                }
                h1 {
                    font-family: 'Montserrat-SemiBold', sans-serif;
                    color: $primary;
                }
                ul {
                    list-style-type: disc;
                    padding-left: 30px;
                    li {
                        margin: 10px 0;
                    }
                }
                &.education,
                &.awards {
                    text-align: center;
                    line-height: 2;
                }
            }
        }
    }
    
}
.btn {
    > a {
        > span {
            vertical-align: super;
        }
    }
    @include large {
        a {
            font-size: 14px;
        }
    }
    &:hover {
        svg {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        }
    }
}

.btn-download {
    background-color: $secondary-light;
    .download-icon {
        height: 30px;
        @include large {
            height: 20px;
        }
    }
    &:hover {
        background-color: lighten($secondary-light, 10%);
    }
}

.btn-call {
    background-color: $danger;
    .phone-icon {
        height: 30px;
        @include large {
            height: 20px;
        }
    }
    &:hover {
        background-color: darken($danger, 5%);
    }
}

.btn-email {
    .email-icon {
        height: 30px;
        @include large {
            height: 20px;
        }
    }
    &:hover {
        background-color: darken($primary, 10%);
    }
}