@import "../../Variables.scss";

.footer {
    position: relative;
    margin-top: 200px;
    height: 500px;
    text-align: center;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 13px;
    letter-spacing: 4px;

    > .content {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%) translateY(-50%);
        p {
            margin: 100px auto;
        }
    }

    .quick-links {
        color: $primary;
        display: flex;
        justify-content: space-around;
        width: 600px;
        margin: 0 auto;
        @include mdAbout {
            flex-direction: column;
            width: auto;
        }
        li {
            position: relative;
            a {
                cursor: pointer;
                @include transition(0.5s);
                &:hover {
                    color: $secondary-light;
                }
            }
            &:not(:last-child) {
                &::after {
                    content: '|';
                    position: absolute;
                    right: -50px;
                    top: -1px;
                }
            }
            @include mdAbout {
                &:not(:last-child) {
                    &::after {
                        content: none;
                    }
                }
            }
            @include mdAbout {
                margin: 10px auto;
            }
        }
        @include mdAbout {
            flex-direction: column;
        }
    }

    .link {
        position: relative;
        color: $secondary-light;
        cursor: pointer;
        @include transition(0.2s ease-in-out);
        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 1px;
            width: 0px;
            background-color: $primary;
            @include transition(0.2s ease-in-out);
        }
        &:hover {
            color: $primary;
            &::before {
                width: 98%;
            }
        }
    }

    .bar {
        position: absolute;
        height: 0;
        width: 0;
        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 100px;
            width: 500px;
            border-radius: 50px;
            background-color: $primary;
            box-shadow: -3px 3px 3px #00000038;
        }
        &.bar-left {
            left: -200px;
            top: 50%;
            transform: rotate(-35deg);
            &::after {
                top: 100px;
                left: -180px;
                background-color: $secondary-dark;
            }
            @include xLarge {
                left: -200px;
            }
            @include large {
                left: -300px;
            }
            @include medium {
                display: none;
            }
        }
        &.bar-right {
            right: 100px;
            bottom: 50%;
            transform: rotate(9deg);
            &::after {
                top: 100px;
                left: -180px;
                background-color: $secondary-dark;
            }
            @include xLarge {
                right: 50px;
            }
            @include large {
                right: 0px;
            }
            @include medium {
                display: none;
            }
        }
    }
}