@import "../../Variables.scss";

.skill-item {
    display: inline-grid;
    grid-template-columns: 1fr 7fr 4fr;
    align-items: center;
    max-width: 420px;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
    color: $secondary-light;
    font-size: 14px;
    &:nth-of-type(odd) {
        margin-right: 80px;
    }
    .skill-img {
        width: 25px;
        position: relative;
    }
    .title {
        line-height: 1.4;
    }
    .skill-rate-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 140px;
    }
    @include medium {
        &:nth-of-type(odd) {
            margin-right: 0;
        }
    }
    @include small {
        grid-template-columns: 1fr;
        justify-items: center;
        .skill-rate-container {
            margin-top: 5px;
            margin-bottom: 20px;
        }
    }
}

.skill-rate {
    svg {
        g {
            path {
                stroke: #adadad;
                fill: none;
            }
        }
    }
    &.active {
        &:nth-child(1) {
            svg {
                g {
                    path {
                        stroke: $rate-1;
                        fill: $rate-1
                    }
                }
            }
        }
        &:nth-child(2) {
            svg {
                g {
                    path {
                        stroke: $rate-2;
                        fill: $rate-2;
                    }
                }
            }
        }
        &:nth-child(3) {
            svg {
                g {
                    path {
                        stroke: $rate-3;
                        fill: $rate-3;
                    }
                }
            }
        }
        &:nth-child(4) {
            svg {
                g {
                    path {
                        stroke: $rate-4;
                        fill: $rate-4;
                    }
                }
            }
        }
        &:nth-child(5) {
            svg {
                g {
                    path {
                        stroke: $rate-5;
                        fill: $rate-5;
                    }
                }
            }
        }
    }
}