@import "../../Variables.scss";

nav {
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 20px;
    margin-top: 50px !important;
    background-color: transparent;
    box-shadow: 0 10px 10px transparent;
    z-index: 3;
    @include transition(opacity 0.2s ease-in-out);
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        li {
            display: inline-block;
            font-size: max(10px, 16px);
            position: relative;
            width: 200px;
            text-align: center;
            color: $secondary-dark;
            cursor: pointer;
            button {
                font-family: 'Montserrat', sans-serif !important;
                font-size: 16px;
                z-index: 2;
                background: none;
                border: none;
                letter-spacing: 5px;
                position: relative;
                @include transition(0.2s);
            }
            span {
                display: inline-block;
                margin: 0 auto;
                position: relative;
                @include transition(color 0.2s ease-out);
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    height: 14px;
                    width: 0;
                    z-index: 1;
                    border-radius: 10px;
                    box-shadow: 0 2px 3px #0000007a;
                    @include transition(0s ease-out);
                }
                &::before {
                    top: -4px;
                    left: -20px;
                    background-color: $secondary-light;
                }
                &::after {
                    top: 10px;
                    right: -20px;
                    background-color: $primary;
                }
                &.active {
                    button, .btn {
                        text-shadow: 0px 2px 2px #868686;
                        color: $gray-light;
                    }
                    &::before,
                    &::after {
                        width: calc(100% + 55px);
                    }
                }
                &:hover {
                    &:not(.active) {
                        button, .btn {
                            letter-spacing: 10px;
                            @include transition(0.2s);
                        }
                    }
                }
            }
            @include smNav {
                &:not(.active) {
                    display: none;
                }
            }
        }
        @include small {
            flex-direction: column;
            li {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    &.light {
        // background-color: $secondary-dark;
        // box-shadow: 0 10px 10px $secondary-dark;
        ul {
            li {
                button, .btn {
                    color: $gray-light;
                    @include transition(0.2s);
                    // @include stroke(2, $secondary-dark);
                }
            }
        }
    }
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}